@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Укрзализныця. Автоматизированная покупка билетов.</h2>
    <p class="lead">
        <select id="from-station" style="width: 500px;">
            <option></option>
        </select>
        
        @*<input class='form-control col-lg-5 itemSearch' id="from-station" type='text' placeholder='select item' />*@
    </p>
</div>