@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Укрзализныця. Автоматизированная покупка билетов.</h2>

    <p class="lead">
        <select data-bind="value: stationFrom, select2: settings.select2" class="station-selector"></select>
        <select data-bind="value: stationTo, select2: settings.select2" class="station-selector"></select>

    <p>
        Selected from: <span data-bind="text: stationFrom"></span>
        Selected to: <span data-bind="text: stationTo"></span>
    </p>

    <div class="input-group date">
        <input type="text" class="form-control" data-bind='datepicker: test_date'>
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>

    <button class="btn btn-default" data-bind="click: search, enable: stationFrom2 && stationTo2">Найти</button>
    </p>
</div>