@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Укрзализныця. Автоматизированная покупка билетов.</h2>
    <p class="lead">
        <select id="from-station" style="width: 500px;">
            <option></option>
        </select>
        
        <select data-bind="value: selectedState, select2: { data: states, placeholder: 'Select a State', allowClear: true, }" class="select2" style="width: 200px"></select>
        Selected: <span data-bind="text: selectedState"></span>
    </p>
</div>