@import '~materialize-scss';

body {
    background-color: antiquewhite;
}

.station-select {
    position: relative;

    div.loading {
        position: relative;

        &:after {
            content: ' ';
            width: 24px;
            height: 24px;
            position: absolute;
            top: 20%;
            right: 0;
            background-image: url('../images/loading.gif');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    ul {
        position: absolute;
        border: 1px solid black;
        top: calc(3rem - 10px);
        left: 0;
        right: 0;
        border-radius: 3px;
        background-color: white;

        li {
            padding: 2px 5px;

            &:hover {
                background-color: aquamarine;
                cursor: pointer;
            }
        }
    }
}