@import '~materialize-scss';

body {
    background-color: antiquewhite;
}

div.loading {
    position: relative;

    &:after {
        content: ' ';
        width: 24px;
        height: 24px;
        position: absolute;
        top: 20%;
        right: 0;
        background-image: url('../images/loading.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}